# OP-Batcher values for testnet

replicaCount: 1

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi

nodeSelector: {}

tolerations: []

config:
  l1:
    rpcUrl: "https://1rpc.io/sepolia"
  l2:
    rpcUrl: "http://reth-sequencer.execution.svc.cluster.local:8545"
  rollup:
    rpcUrl: "http://op-node.op-stack.svc.cluster.local:9545"
  dataAvailability:
    type: "calldata"
  privateKey: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

