# Foundry artifacts
/out
/cache
/lib

# Build output
/dist

# TypeScript cache
*.tsbuildinfo

# Environment (contains private keys!)
.env
.env.local
.env.*.local

oyster-serverless
test-marlin-project/
babylon-game/
oyster-serverless
docs/