# OP-Proposer values for testnet

replicaCount: 1

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi

nodeSelector:
  workload: general

tolerations: []

config:
  l1:
    rpcUrl: "https://ethereum-sepolia-rpc.publicnode.com"



