apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lighthouse.fullname" . }}-secrets
  labels:
    {{- include "lighthouse.labels" . | nindent 4 }}
type: Opaque
stringData:
  # JWT secret shared with Geth L1 execution layer
  jwt.hex: "0xa5f4967ffe019fb71673f9a5154412081357e9c4e0191d5560728ed777b8ddb0"

